* {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #D5F2F7;
    padding: 10px 40px;
}

.logo {
    color: #426D75;
}

.logo:hover {
    color: #6DB4C2;
}

#logo-icon {
    font-size: 60px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    padding: 10px;
    color: #426D75;
}

.menu-item:hover {
    color: #6DB4C2;
}

.content {
    margin: 0 90px;
}

.content {
    color: #426D75;
}

.btn-light-blue {
    background-color: #D5F2F7 !important;
    color: #426D75 !important;
    width: 40px;
    height: auto;
}

.btn-light-blue:hover {
    background-color: #426D75 !important;
    color: white !important;
}

.btn-light-blue-large {
    background-color: #D5F2F7 !important;
    color: #426D75 !important;
}

.btn-light-blue-large:hover {
    background-color: #426D75 !important;
    color: white !important;
}

.modify-item-quantity .input-quantity {
    width: 100px;
    height: 100%;
}

.center-vertical {
    /* justify-content: center; */
    align-items: center;
}

select{
    height: 30px;
}

input:focus, select:focus {
    box-shadow: 0 2px 5px #426D75;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-radius: 3px;
    outline: none;
    border: none;
}

.break-word{
    word-break: break-all;
}

.editar-cantidad{
    width: 160px;
}