body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

ul.nav-list{
    list-style-type:none;
    display: flex;
    padding: 0px;
}

li.nav-item{
    margin: 0px 20px;
    font-size: 30px;
}

.nav{
    background-image:  linear-gradient(grey, white);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-bg{
    background: url('https://picsum.photos/900/300');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    color: white;
}

.white-background{
    background-color: white;
    margin-top: 30px;
}

.grey-background{
    background-color: rgb(201, 201, 201);
    margin-top: 30px;
}

.centered-text{
    text-align: center;
    margin-top: 30px;
}

.pink-text{
    color: #9A3B84;
}

.flex{
    display: flex
}

#profile-pic{
    border-radius: 20px;
    border: 10px solid grey;
    margin: 0px 30px;
}

.justify-center{
    justify-content: center;
}

.favourite-things-pic{
    border-radius: 50%;
    border: 10px solid grey;
    margin-right: 30px;
}

#contact-me{
    padding-top: 40px;
    margin-bottom: 40px;
}

.social-net{
    border-radius: 50%;
    border: 22px solid grey;
    margin-right: 30px;
    font-size: 100px;
    color: rgb(201, 201, 201);
    background-color: grey;
    margin-bottom: 30px;
}   

.padding-b-3{
    padding-bottom: 30px;
}